# Basic utilities

In [3]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *
import time_series.utilities.basic_utils as bu

### Load data

In [4]:
dt1 = [123, 112, 118, 104, 105, 107, 114, 119, 123, 127, 132, 144]
dt2 = [145, 157, 162, 170, 173]
dt3 = [148, 152, 163, 170, 174]

idx = pd.DatetimeIndex(['2020-01-01', '2020-01-02','2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'])
ts1 = pd.Series(data = dt1, index=idx)
idxs = [0, 4, 6, 7, 12, 15, 18]
ts2 = pd.Series(data=dt1, index=range(len(dt1)))
ts3 = pd.Series(data=dt2, index=range(len(dt2)))

df = pd.DataFrame({'ts1' : ts2*2, 'ts2' : ts2})

### Methods

Transform an asc list of indexes in a binary array

In [5]:
ba = bu.idx2bin_array(idxs)
ba

[1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1]

Time series to Dataframe with column of indexes

In [10]:
df = bu.ts2df_idxed(ts1); df

      0
123   0
112   1
118   2
104   3
105   4
107   5
114   6
119   7
123   8
127   9
132  10
144  11

Padding

In [12]:
ts2_pr = bu.pad(ts2, 2, False)     
ts2_pl = bu.pad(ts2, 2, True)     
print('Original\n')
print(ts2)
print('Padded right\n')
print(ts2_pr)
print('Padded left\n')
print(ts2_pl)

Original

0     123
1     112
2     118
3     104
4     105
5     107
6     114
7     119
8     123
9     127
10    132
11    144
dtype: int64
Padded right

-2      0.0
-1      0.0
0     123.0
1     112.0
2     118.0
3     104.0
4     105.0
5     107.0
6     114.0
7     119.0
8     123.0
9     127.0
10    132.0
11    144.0
dtype: float64
Padded left

0     123.0
1     112.0
2     118.0
3     104.0
4     105.0
5     107.0
6     114.0
7     119.0
8     123.0
9     127.0
10    132.0
11    144.0
12      0.0
13      0.0
dtype: float64