# DLM with regressors (Pybats)

In [1]:
from pybats.shared import load_sales_example2

In [2]:
data = load_sales_example2()
data.head()

            Sales  Price  Promotion
Date
2014-06-01   15.0   1.11        0.0
2014-06-02   13.0   2.19        0.0
2014-06-03    6.0   0.23        0.0
2014-06-04    2.0  -0.05        1.0
2014-06-05    6.0  -0.14        0.0