# Time Series classification (supervised)

In [16]:
import pandas as pd
from sktime.datasets import load_arrow_head
from sktime.classification.compose import TimeSeriesForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Load data

In [13]:
X, y = load_arrow_head(return_X_y=True)
print(y[:10])
X.head()

0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    0
dtype: object

                                               dim_0
0  0     -1.9630
1     -1.9578
2     -1.9561
3   ...
1  0     -1.7746
1     -1.7740
2     -1.7766
3   ...
2  0     -1.8660
1     -1.8420
2     -1.8350
3   ...
3  0     -2.0738
1     -2.0733
2     -2.0446
3   ...
4  0     -1.7463
1     -1.7413
2     -1.7227
3   ...

### Model traning and validation

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [4]:
classifier = TimeSeriesForestClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
accuracy_score(y_test, y_pred)

0.8113207547169812

In [17]:
pd.DataFrame({'label': y_test, 'pred': y_pred})

    label pred
89      1    1
125     2    2
141     2    2
29      2    1
32      0    0
45      0    0
139     2    2
3       0    0
30      0    0
159     2    2
72      1    0
60      0    0
112     1    0
150     2    2
36      0    0
54      0    0
174     2    2
24      0    0
80      1    1
155     2    1
7       1    1
35      0    0
116     1    1
92      1    1
35      2    2
118     1    1
7       0    0
93      1    1
41      0    0
137     2    2
160     2    2
117     1    0
121     1    1
133     2    0
111     1    0
82      1    0
58      0    0
115     1    1
142     2    2
148     2    2
119     1    1
9       0    0
27      0    1
14      0    0
16      1    1
6       0    0
122     2    2
26      0    0
4       1    1
10      0    0
33      0    1
74      1    1
120     1    1

## Credits & Links

https://medium.com/swlh/using-sktime-for-time-series-classification-part-2-b07bb6b56d5
https://github.com/alan-turing-institute/sktime
https://waliamrinal.medium.com/time-series-forecasting-with-sktime-in-python-3dfaf55e1a9c