In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%pylab inline
figsize(12,6)
from random_survival_forest import RandomSurvivalForest

Populating the interactive namespace from numpy and matplotlib

In [7]:
df = pd.read_csv('D:/data/csv/telco_customer-churn_cleansed.csv') 
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,0
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
3,3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1

In [24]:
df_r= df.loc[:,['tenure','Churn','gender','Partner','Dependents','PhoneService','MonthlyCharges','SeniorCitizen','StreamingTV']]
df_dummy = pd.get_dummies(df_r.head(9), drop_first=True)
df_dummy

,tenure,Churn,MonthlyCharges,SeniorCitizen,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,StreamingTV_Yes
0,1,0,29.85,0,0,1,0,0,0
1,34,0,56.95,0,1,0,0,1,0
2,2,1,53.85,0,1,0,0,1,0
3,45,0,42.30,0,1,0,0,0,0
4,2,1,70.70,0,0,0,0,1,0
5,8,1,99.65,0,0,0,0,1,1
6,22,0,89.10,0,1,0,1,1,1
7,10,0,29.75,0,0,0,0,0,0
8,28,1,104.80,0,0,1,0,1,1

In [30]:
y = df_dummy['Churn']
df_dummy.drop('Churn', axis=1)
y

0    0
1    0
2    1
3    0
4    1
5    1
6    0
7    0
8    1
Name: Churn, dtype: int64

In [32]:
X= df_dummy
timeline = range(0, 8, 1)
rsf = RandomSurvivalForest(n_estimators=3, timeline=timeline)
rsf.fit(X, y)
#round(rsf.oob_score, 3)

ValueError: high is out of bounds for int32

In [ ]:
y_pred = rsf.predict(X_val)
c_val = concordance_index(y_val["time"], y_pred, y_val["event"])
round(c_val, 3)