In [15]:
from utilities.std_imports import *
import tensorflow as tf

In [7]:
input_dim = 5
hidden_dim = 2
batch_size = 1
epochs = 30

autoencoder = tf.keras.models.Sequential([
    tf.keras.layers.Dense(input_dim, activation='elu', input_shape=(input_dim, )), 
    tf.keras.layers.Dense(hidden_dim, activation='elu'),
    tf.keras.layers.Dense(input_dim, activation='elu')
])

autoencoder.compile(optimizer='adam', loss='mse', metrics=['acc'])
autoencoder.summary();

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 12
_________________________________________________________________
dense_5 (Dense)              (None, 5)                 15
=================================================================
Total params: 57
Trainable params: 57
Non-trainable params: 0
_________________________________________________________________

In [8]:
v1 = [4, 4, 4, 5, 5, 6, 8, 14, 25, 32]
v2 = [0.1, 0.1, 0.2, 0.2, 0.3, 0.2, 0.8, 0.9, 0.2, 0.5]
v3 = [0.1, 0.7, 0.2, 0.2, 0.3, 0.3, 0.8, 0.9, 0.12, 0.15]
v4 = [0.1, 0.3, 0.2, 0.2, 0.4, 0.2, 0.8, 0.9, 0.2, 0.5]
v5 = [0.1, 0.1, 0.2, 0.2, 0.3, 0.2, 0.6, 0.3, 0.2, 0.1]

df = pd.DataFrame({'v1': v1, 'v2': v2, 'v3': v3, 'v4': v4, 'v5': v5, })
df

   v1   v2    v3   v4   v5
0   4  0.1  0.10  0.1  0.1
1   4  0.1  0.70  0.3  0.1
2   4  0.2  0.20  0.2  0.2
3   5  0.2  0.20  0.2  0.2
4   5  0.3  0.30  0.4  0.3
5   6  0.2  0.30  0.2  0.2
6   8  0.8  0.80  0.8  0.6
7  14  0.9  0.90  0.9  0.3
8  25  0.2  0.12  0.2  0.2
9  32  0.5  0.15  0.5  0.1

In [11]:
df_train = df.iloc[0:7,]
df_test = df.iloc[7:,]

In [12]:
hist = autoencoder.fit(df_train, df_train, epochs=epochs, batch_size=1, shuffle=True,);

Epoch 1/30
7/7 [==============================] - 0s 1ms/step - loss: 5.9080 - acc: 0.0000e+00
Epoch 2/30
7/7 [==============================] - 0s 714us/step - loss: 5.8183 - acc: 0.0000e+00
Epoch 3/30
7/7 [==============================] - 0s 859us/step - loss: 5.7334 - acc: 0.0000e+00
Epoch 4/30
7/7 [==============================] - 0s 1ms/step - loss: 5.6453 - acc: 0.0000e+00
Epoch 5/30
7/7 [==============================] - 0s 1ms/step - loss: 5.5577 - acc: 0.0000e+00
Epoch 6/30
7/7 [==============================] - 0s 851us/step - loss: 5.4702 - acc: 0.0000e+00
Epoch 7/30
7/7 [==============================] - 0s 1ms/step - loss: 5.3868 - acc: 0.0000e+00
Epoch 8/30
7/7 [==============================] - 0s 857us/step - loss: 5.2948 - acc: 0.0000e+00
Epoch 9/30
7/7 [==============================] - 0s 998us/step - loss: 5.2187 - acc: 0.0000e+00
Epoch 10/30
7/7 [==============================] - 0s 706us/step - loss: 5.1283 - acc: 0.0000e+00
Epoch 11/30
7/7 [==============================] - 0s 1ms/step - loss: 5.0424 - acc: 0.0000e+00
Epoch 12/30
7/7 [==============================] - 0s 669us/step - loss: 4.9578 - acc: 0.0000e+00
Epoch 13/30
7/7 [==============================] - 0s 857us/step - loss: 4.8824 - acc: 0.1429
Epoch 14/30
7/7 [==============================] - 0s 762us/step - loss: 4.7835 - acc: 1.0000
Epoch 15/30
7/7 [==============================] - 0s 853us/step - loss: 4.7044 - acc: 1.0000
Epoch 16/30
7/7 [==============================] - 0s 857us/step - loss: 4.6112 - acc: 1.0000
Epoch 17/30
7/7 [==============================] - 0s 854us/step - loss: 4.5248 - acc: 1.0000
Epoch 18/30
7/7 [==============================] - 0s 857us/step - loss: 4.4273 - acc: 1.0000
Epoch 19/30
7/7 [==============================] - 0s 715us/step - loss: 4.3384 - acc: 1.0000
Epoch 20/30
7/7 [==============================] - 0s 857us/step - loss: 4.2379 - acc: 1.0000
Epoch 21/30
7/7 [==============================] - 0s 716us/step - loss: 4.1434 - acc: 1.0000
Epoch 22/30
7/7 [==============================] - 0s 860us/step - loss: 4.0500 - acc: 1.0000
Epoch 23/30
7/7 [==============================] - 0s 714us/step - loss: 3.9468 - acc: 1.0000
Epoch 24/30
7/7 [==============================] - 0s 857us/step - loss: 3.8261 - acc: 1.0000
Epoch 25/30
7/7 [==============================] - 0s 714us/step - loss: 3.7209 - acc: 1.0000
Epoch 26/30
7/7 [==============================] - 0s 857us/step - loss: 3.5916 - acc: 1.0000
Epoch 27/30
7/7 [==============================] - 0s 714us/step - loss: 3.4639 - acc: 1.0000
Epoch 28/30
7/7 [==============================] - 0s 856us/step - loss: 3.3433 - acc: 1.0000
Epoch 29/30
7/7 [==============================] - 0s 715us/step - loss: 3.1981 - acc: 1.0000
Epoch 30/30
7/7 [==============================] - 0s 857us/step - loss: 3.0507 - acc: 1.0000

In [13]:
pred = autoencoder.predict(df_test)
pred

array([[ 2.5721781 , -0.63958955, -0.33071017, -0.85374564,  1.405326  ],
       [ 2.4430249 , -0.5210247 , -0.35516614, -0.8234262 ,  1.3386637 ],
       [ 2.8052077 , -0.6638105 , -0.37469715, -0.87986547,  1.5674452 ]],
      dtype=float32)

In [17]:
mse = np.mean(np.power(df_test - pred, 2), axis=1)
mse

7     27.755493
8    102.381349
9    171.604616
dtype: float64