# Equal variances

In [4]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *
from random import randrange
from scipy.stats import bartlett
import time_series.utilities.basic_utils as bu

### Data groups

In [8]:
a = [8.88, 9.12, 9.04, 8.98, 9.00, 9.08, 9.01, 8.85, 9.06, 8.99]
b = [8.88, 8.95, 9.29, 9.44, 9.15, 9.58, 8.36, 9.18, 8.67, 9.05]
c = [8.95, 9.12, 8.95, 8.85, 9.03, 8.84, 9.07, 8.98, 8.86, 8.98]

stat, p = bartlett(a, b, c)
print('P-value = ', p)

P-value =  1.1254782518834628e-05

### Time series (for heteroscedasticity)

In [2]:
ts = np.array([i+randrange(10) for i in range(1,100)])

In [36]:
nSplits = 5
ts_length = len(ts)
per_length = int(ts_length / nSplits)
tss = []
start = 0
end = 0
for i in range(nSplits):
    if(abs(ts_length - end) < per_length) : end = ts_length
    else: end = start + per_length
    print(start, end)
    tss.append(ts[start:end])
    start = end+1

0 19
20 39
40 59
60 79
80 99

In [10]:
tss = bu.split_ts(ts=ts, nSplits=5)
pd.DataFrame(tss)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,4,8,4,8,5,15,7,10,16,16,15,20,18,18,18,21,18,22,22
1,30,26,23,24,29,31,35,35,29,34,36,40,36,43,39,45,45,46,39
2,41,45,48,51,52,49,50,49,54,50,59,54,57,56,61,61,58,64,61
3,64,67,68,73,70,66,69,73,72,77,78,81,77,80,77,81,80,86,84
4,89,82,88,91,92,91,90,90,90,95,93,92,98,102,100,96,105,100,101

In [17]:
stat, p = bartlett(*tss)
print('P-value = ', p)

P-value =  0.0

Test different intervals

In [18]:
for s in range(2,6):
    tss = bu.split_ts(ts=ts, nSplits=s)
    stat, p = bartlett(*tss)
    print('Splits: ', s, ' p-value = ', p)

Splits:  2  p-value =  0.08598064876339932
Splits:  3  p-value =  0.4026665916690461
Splits:  4  p-value =  0.4870262903237844
Splits:  5  p-value =  0.0