# HDF5 for Time series storage

In [6]:
from utilities.std_imports import *

### Generate time series

In [7]:
df = pd.DataFrame({'val':np.random.rand(10**6)}, index=pd.date_range('1980-01-01', freq='19S', periods=10**6))
df = df.sample(frac=1)
df.head()

                          val
1980-05-03 12:31:40  0.698694
1980-07-04 13:44:52  0.172904
1980-06-16 12:53:08  0.559598
1980-06-29 03:53:36  0.112153
1980-03-11 07:01:14  0.928203

### HDF5 storage

In [8]:
store = pd.HDFStore('D:/data/csv/time_series/test_time_ser.h5')
store.append('XAU', df, format='t')
store.close()

### Retrieve data

In [11]:
store = pd.HDFStore('D:/data/csv/time_series/test_time_ser.h5')
df = store.select('XAU', where="index >= '1980-04-04' and index<= '1980-05-01'")
df.head()

                          val
1980-04-23 16:31:36  0.196911
1980-04-07 17:58:39  0.825497
1980-04-06 03:41:14  0.377207
1980-04-27 02:22:47  0.356733
1980-04-21 13:08:13  0.356281

### Credits & Links

https://stackoverflow.com/questions/41555400/python-fast-hdf5-time-series-data-queries