# Dentonm interpolation

Indicator : iprod_monthly  
Benchmark : gdp_quaterly  
Interpolation : gdp_monthly

In [4]:
from utilities.std_imports import *
from statsmodels.tsa.interp import dentonm

In [51]:
iprod_monthly = np.array([ 87.4510, 86.9878, 85.5359, 84.7761, 83.8658, 83.5261, 84.4347, 85.2174, 85.7983, 86.0163, 86.2137, 86.7197, 87.7492, 87.9129, 88.3915, 88.7051, 89.9025, 89.9970, 90.7919, 90.9898, 91.2427, 91.1385, 91.4039, 92.5646])
gdp_quaterly = np.array([14049.7, 14034.5, 14114.7, 14277.3, 14446.4, 14578.7, 14745.1, 14871.4])
gdp_monthly = dentonm(iprod_m, gdp_q, freq="qm")

Validation: compare aggregated sum of monthly with quaterly (interpolated monthly matches the benchmark)

In [52]:
ts = gdp_m
span = 3
gdp_m3 = [ts[i:i+span].sum() for i in range(0, len(ts), span)]

In [53]:
pd.DataFrame({'gdp_q': gdp_q, 'gdp_m3':gdp_m3})

     gdp_q   gdp_m3
0  14049.7  14049.7
1  14034.5  14034.5
2  14114.7  14114.7
3  14277.3  14277.3
4  14446.4  14446.4
5  14578.7  14578.7
6  14745.1  14745.1
7  14871.4  14871.4

### Credits & Links

https://www.researchgate.net/publication/340142416_Time_Series_Analysis_in_Python_with_statsmodels