# Time series aggregation

In [1]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *

### Load data

In [2]:
df = pd.read_csv('D:/data/csv/time_series/trains.csv', parse_dates=['Datetime'], infer_datetime_format=True, index_col = 'Datetime')
print('Raw data rows:', df.shape[0])
df.head()

Raw data rows: 2232

                     Count
Datetime
2012-09-13 00:00:00      2
2012-09-13 01:00:00      6
2012-09-13 02:00:00      2
2012-09-13 03:00:00      2
2012-09-13 04:00:00      2

In [45]:
hourly = df.resample('H').sum()
print('Hourly rows: ', hourly.shape[0])
hourly.head()

Hourly rows:  3384

In [46]:
daily = df.resample('D').sum()
print('Daily rows: ', daily.shape[0])
daily.head()

Daily rows:  141

In [47]:
weekly = df.resample('W').sum()
print('Weekly rows: ', weekly.shape[0])
weekly

Weekly rows:  21

            Count
Datetime
2012-09-16    318
2012-09-23    792
2012-09-30   1040
2012-10-07      0
2012-10-14    494
2012-10-21   2444
2012-10-28   1758
2012-11-04   1122
2012-11-11      0
2012-11-18   2090
2012-11-25   1916
2012-12-02   1036
2012-12-09      0
2012-12-16   1688
2012-12-23   2918
2012-12-30   2384
2013-01-06    618
2013-01-13    174
2013-01-20   4038
2013-01-27   3654
2013-02-03   1906

In [49]:
monthly = df.resample('M').sum()
print('Monthly rows: ', monthly.shape[0])
monthly

Monthly rows:  5

            Count
Datetime
2012-09-30   2150
2012-10-31   5818
2012-11-30   5042
2012-12-31   7608
2013-01-31   9772

### Other examples

In [50]:
biweekly = df.resample('2W').sum()
print('Bi-weekly rows: ', biweekly.shape[0])
biweekly

Bi-weekly rows:  11

            Count
Datetime
2012-09-16    318
2012-09-30   1832
2012-10-14    494
2012-10-28   4202
2012-11-11   1122
2012-11-25   4006
2012-12-09   1036
2012-12-23   4606
2013-01-06   3002
2013-01-20   4212
2013-02-03   5560

In [51]:
quaterly = df.resample('Q').sum()
print('Quaterly rows: ', quaterly.shape[0])
quaterly

Quaterly rows:  3

            Count
Datetime
2012-09-30   2150
2012-12-31  18468
2013-03-31   9772

### Grouping and rolling

In [5]:
df.rolling(window=3).mean()

                         Count
Datetime
2012-09-13 00:00:00        NaN
2012-09-13 01:00:00        NaN
2012-09-13 02:00:00   3.333333
2012-09-13 03:00:00   3.333333
2012-09-13 04:00:00   2.000000
...                        ...
2013-01-31 19:00:00  26.000000
2013-01-31 20:00:00  24.000000
2013-01-31 21:00:00  26.000000
2013-01-31 22:00:00  39.333333
2013-01-31 23:00:00  43.333333

[2232 rows x 1 columns]

In [25]:
ts = np.array([1,1,1,2,2,2,3,3,3,4,4,4,5,5,5])
span = 3

[ts[i:i+span].sum() for i in range(0, len(ts), span)]

[3, 6, 9, 12, 15]

### Credits & Links

https://www.earthdatascience.org/courses/use-data-open-source-python/use-time-series-data-in-python/date-time-types-in-pandas-python/resample-time-series-data-pandas-python/

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.resample.html